.DS_Store
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.cpcache
/.lein-*
/.nrepl-history
/.nrepl-port
.hgignore
.hg/

# VSCode
.calva/
.clj-kondo/
.cljs_node_repl/
.lsp/

# ClojureScript
cljs-test-runner-out/
